.table-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.table-header {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 2fr 1fr 1fr;
}

.table-row {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 2fr 1fr 1fr;
  border: 1px solid rgba(163, 163, 163, 1);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

.modal-backdrop {
  background-color: rgba(0,0,0,.2);
}

.custom-dialog {
  width: 28%;
}

.table-description {
  overflow-y: auto;
}

.delete-button {
  background-color: #ff3729;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

.edit-button {
  background-color: #2e8df2;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
}

.button-div {
  width: 50%;
}

.edit-button:hover {
  background-color: #0777ed;
}

.delete-button:hover {
  background-color: #d61609;
}


.table-type {
  padding-left: 40px;
}

.table-status {
  border: 1px solid rgba(163, 163, 163, 1);
  border-radius: 20px;
  text-align: center;
  width: 70%;
  margin: 0 auto auto 0;
  padding: 2px 5px;
}

.not-completed {
  background-color: #f5493d;
}

.in-progress {
  background-color: #e3b734;
}

.completed {
  background-color: #36f576;
}

/* tabs */
.task-container .nav-link {
  color: #7185bf;
  border: none;
}

/* selected-tab */
.task-container .nav-link.active {
  color: #445175;
  border-bottom: 2px solid #445175 !important;
  background-color: transparent;
}

.task-container .nav-link:hover {
  color: #445175;
  border: none;
}

.delete-title {
  padding: 20px 0 0 0;
}

select {
  margin-top: 20px;
}

div.form-check {
  margin-top: 15px;
}
