.table-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.table-header {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.table-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.modal-backdrop {
  background-color: rgba(0,0,0,.2);
}